.DS_Store
.vagrant
.vscode
env
venv
.env
.venv
.gdb*
peda*
core
*.zip
node_modules
*.extracted
*.pyc
__pycache__
*.pcapng
*.pcap
*.id1
*.id2
*.til
*.nam
*.gz
*.bz2
*.7z
*~
Vagrantfile
*.deb
*.xz
*.out
ubuntu-xenial-*
