<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Kahla x Fword</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
<nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            {% if current_user.is_authenticated %}
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="/home" style="font-size: 21px;">Home</a></li>
                            {% else %}
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="/login" style="font-size: 21px;">Login</a></li>
                            <li class="nav-item" role="presentation" style="font-size: 21px;"><a class="nav-link" href="/register">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
    <main class="page contact-page">
        <section class="portfolio-block contact">
            <div class="container">
                <div class="heading">
                    <h2>Login PAge</h2>
                </div>
                <form action="/login" method="post">
                    <div class="form-group"><label for="username">Username</label><input class="form-control item" name="username" type="text" id="username"></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control item" name="password" type="text" id="password"></div>
                    {% if msg %} <small> {{msg}} </small> {% endif %}
                    <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">LOGIN</button></div>
                    <strong style="font-size: 29px;margin: 0;padding: 0px;">OR</strong>
                    <a href="/auth/github">
                    <button class="btn btn-primary btn-block btn-lg" type="button">SIGN IN With <img src="/static/assets/img/avatars/GitHub-Mark-32px.png"></button></form>
                    </a>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">Nothing</a><a href="/login">Login</a><a href="/register">Register</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/static/assets/js/script.min.js"></script>
</body>

</html>